.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(129, 111, 246);
  width: 95%;
  margin: 50px 2.5%;
  padding: 10px;
  gap: 20px;
}
.headContainer {
  display: flex;
  flex-direction: row;
}
.contentsContainer {
  width: 45%;
}
.container {
  background-color: white;
  padding: 20px;
  margin: 10px 5%;
  margin-bottom: 40px;
}
.textContainer {
  background-color: white;
  width: 55%;
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  margin: 10px 2.5%;
  margin-bottom: 40px;
}
